[submodule "cpp/desktop-ping-pong/aether-client-cpp"]
	path = cpp/desktop-ping-pong/aether-client-cpp
	url = https://github.com/aethernetio/aether-client-cpp.git
	branch = main
[submodule "temperature-sensor-app/cpp-client/aether-client-cpp"]
	path = temperature-sensor-app/cpp-client/aether-client-cpp
	url = https://github.com/aethernetio/aether-client-cpp.git
	branch = main
[submodule "cpp/smart-home/aether-client-cpp"]
	path = cpp/smart-home/aether-client-cpp
	url = https://github.com/aethernetio/aether-client-cpp.git
	branch = main
